
.logo_mark {
    color: #23d18b;
  }

.logo_cursor {
  display: inline-block;
  width: 10px;
  height: 0.3rem;
  background: #fe5186;
  margin-left: -8px;
  animation: cursor 1s infinite;
}
@media (prefers-reduced-motion: reduce) {
  .logo_cursor {
    animation: none;
  }
}
